.container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.title {
    font-size: 58px;
    font-weight: 800;
    background: linear-gradient(to bottom, var(--first-color), var(--seconde-color), #5e6d65);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc {
    font-size: 24px;
    line-height: 2rem;
}

.img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}